*.py[cod]
*.swp
*saved_models
infer_images
__pycache__
results
train.log
det_tmp.json
fastval.json
tensorboard
csdarknet53-omega.conv.105
dataset_unittest.py
yolov4.onnx
yolov4.pth
yolov4.weights
yolov4_backbone.pth
yolov4_fp16.engine
yolov4_int8.engine
